{{#x-select value=model.name}}
  {{#x-option selected=true value="George"}}
    George
  {{/x-option}}
  {{#x-option value="Wombatus"}}
    Wombatus
  {{/x-option}}
  {{#x-option value="Julius"}}
    Julius
  {{/x-option}}
{{/x-select}}

{{link-to 'back' 'application'}} |
<button {{action "rollback"}} class="spec-rollback-btn">Rollback</button>
<div>
  <strong>Model:</strong> <span class="spec-model">{{model.name}}</span>
</div>
{{outlet}}
